@import './colors.scss';
@import "./font-variables";

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  background-color: $background_grey;
  color: var(--text-color);
  font-family: $font-family-lato;
  text-wrap: balance;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  @include scrollbar;
}
body.active-modal {
  overflow-y: hidden;
}


img {
  display: block;
}

a, button {
  transition: all 0.2s ease-in;
}
.hide {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
}
code {
  background-color: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  overflow-x: auto;
  background-color: #e9f1f6;
  padding: 1rem;
  border-radius: 4px;
}


