$orange: #ff8201;
$orange-light: #FFF7EE;
$primary-text: #606266;
$secondary-text: #303133;
$white: #fff;
$background_grey: #f2f3f5;
$grey_BB2: #a8abb2;
$grey_399: #909399;
$grey_7ED: #E4E7ED;
$grey_4CC: #c0c4cc;
$grey_FE6: #dcdfe6;
$grey_EF5: #EBEEF5;
$grey_7FA: #F5F7FA;
$grey_3B8: #B1B3B8;
$green: #95d475;