$font-family-lato: "Lato";
$font-family-inter: "Inter";


$h-bold-20: 700 20px / 28px $font-family-inter;
$h-bold-20-lato: 700 20px / 28px $font-family-lato;
$h-bold-16-lato: 700 16px / 24px $font-family-lato;

$body-medium-14: 500 14px / 22px $font-family-lato;
$body-medium-12: 500 12px / 20px $font-family-lato;
$body-medium-14-int: 500 14px / 22px $font-family-inter;

$body-regular-14: 400 14px / 22px $font-family-lato;
$body-regular-18: 400 18px / 26px $font-family-lato;
$body-regular-16: 400 16px / 24px $font-family-lato;
