@import "../base/font-variables";
@import "../base/colors";
.auth__page {
  display: flex;
  padding: 24px 0;
  justify-content: center;
  align-items: center;
  column-gap: 116px;

  &-form {
    @include white-block;
    padding: 48px 56px;
    border-radius: 16px;
    flex: 0 0 369px;

    & h1 {
      font: $h-bold-20;
      margin-bottom: 48px;
      text-align: center;
    }

    & form {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      position: relative;

      .form-field {
        position: relative;
      }
      label {
        font: $body-regular-14;
        color: $primary-text;
        margin-bottom: 8px;
      }
      .auth-error {
        display: none;
        position: absolute;
        bottom: 3rem;
        color: $error;
      }

      button {
        margin-top: 32px;
      }
    }
  }

  &-wrapper {
    max-height: 751px;
    max-width: 798px;
  }
}